[data-controller="static"][data-action="about"]
  #page_content
    .container
      background-image: url($images_lbm_path + 'background-icons.png')
      background-size: 100%
      margin: 150px 0px
      .static_default
        float: none
        margin-left: 0px
        display: block
        .main-title-wrapper
          text-align: center
          position: relative
          top: -25px
          .main-title
            color: white
            font-family: 'Futura LT'
            font-weight: 400
            font-size: 28px
            padding: 3px 30px
            text-align: center
            background: $oceanblue
            border-radius: 10px
            display: inline-block
        .subtitle-wrapper
          text-align: center
          .subtitle
            color: $darkblue
            font-family: 'Futura Std'
            font-weight: 200
            font-size: 21px
            border-bottom: solid 2px $oceanblue
            text-align: center
            margin-top: 20px
            display: inline-block
            padding: 0 50px
            padding-bottom: 20px
            margin-bottom: 10px
        ul.team
          width: 100%
          margin-top: 40px
          margin-bottom: 40px
          width: 810px
          position: relative
          left: 50%
          margin-left: -405px
          li
            float: left
            margin: 20px 30px
            position: relative
            .member-wrapper
              border-radius: 50%
              width: 210px
              height: 210px
              border-radius: 50%
              display: table-cell
              vertical-align: middle
              text-align: center
              &:hover
                .member-name
                  color: white
                &:after
                  background: rgba($oceanblue, 0.6)
                  +box-shadow($oceanblue 10px 10px 18px -9px)
              .member-name
                font-size: 32px
                font-family: 'Futura Std'
                font-weight: 200
                color: transparent
                display: inline-block
                width: 153px
                position: relative
                z-index: 2
                top: 10px
                transition: .3s color
              &:after
                content: ''
                position: absolute
                top: 0px
                left: 0px
                width: 210px
                height: 210px
                z-index: 1
                background: transparent
                border-radius: 50%
                transition: .3s all
              img
                width: 210px
                height: 210px
                border-radius: 50%
                position: absolute
                top: 0px
                left: 0px
            .member-title
              color: white
              font-size: 14px
              font-family: 'Futura Std'
              font-weight: 200
              background-image: url($images_lbm_path + 'member-name-tag.png')
              background-size: 100%
              padding: 5px 22px
              position: relative
              left: 50px
              top: -30px
              width: 160px
              display: inline-block
              text-align: center
              z-index: 1
          li.last
            margin-right: 0px 