[data-controller="static"][data-action="guidelines_channel"]
    .bootstrap-twitter
        text-align: center
        margin-top: 50px
        .page-title-1
            font-family: 'Futura LT'
            font-weight: 400
            font-size: 26px
            color: $darkblue
            .carrot
                color: $carrot
        .page-title-2
            font-family: 'Futura Std'
            font-weight: 200
            font-size: 28px
            color: $darkblue
            border-bottom: solid 2px $mediumgray
            margin: 0 10%
            padding-bottom: 15px
        .subtitle
            font-family: 'Futura Std'
            font-weight: 700
            font-size: 21px
            color: $darkblue
            margin-top: 20px
            padding: 0 20%
        .banner
            margin-bottom: 50px
            iframe
                width: 80%
                height: 600px
        .container
            width: 100%
            padding: 0px
            .content-1
                margin-bottom: 80px
                .container-icon
                    width: 43px
                .subtitle-what-is
                    font-family: 'Futura Std'
                    font-weight: 200
                    font-size: 30px
                    color: $oceanblue
                    display: inline-block
                    margin-left: 15px
                    vertical-align: top
                    margin-bottom: 20px
                    padding: 0 20%
                .text
                    font-family: 'Futura'
                    font-weight: 400
                    font-size: 18px
                    color: $darkblue
                    font-style: italic
            .content-2
                background: url($images_lbm_path+"background_blue.png")
                margin-top: 50px
                padding-bottom: 50px
                margin-bottom: 30px
                .subtitle-2
                    font-family: 'Futura Std'
                    font-weight: 700
                    font-size: 24px
                    color: white
                    display: inline-block
                    background-color: $carrot
                    padding: 5px 30px
                    position: relative
                    top: -20px
                    +border-radius(10px)
                .icon
                    height: 65px
                    margin-top: 20px
                .content-2-1
                    font-family: 'Futura Std'
                    font-weight: 700
                    font-size: 18px
                    .col
                        border-right: solid 1px $mediumgray
                        min-height: 100px
                    .phrase-1
                        color: $darkblue
                        margin-top: 20px
                        padding: 0px 30px
                    .phrase-2
                        color: $carrot
                        margin-top: 30px
                    .phrase-3
                        color: $darkblue
                        margin-top: 30px
            .content-3
                margin-bottom: 30px
                .col-xs-12
                    padding: 0px
                .title
                    .container-icon
                        width: 60px
                        position: relative
                        top: 15px
                    .text
                        font-family: 'Futura Std'
                        font-weight: 200
                        font-size: 37px
                        color: white
                        background-color: $darkblue
                        padding: 20px 0px
                        margin-bottom: 60px
                .content-3-1
                    background: url($images_lbm_path+"background_blue.png")
                    .col
                        border-right: solid 3px white
                        padding: 0 30px
                        .icon
                            height: 70px
                            position: relative
                            top: -35px
                            margin-bottom: -25px
                        .phrase-1
                            font-family: 'Futura Std'
                            font-weight: 700
                            font-size: 21px
                            color: $carrot
                            margin-bottom: 30px
                        .phrase-2
                            font-family: 'Futura Std'
                            font-weight: 200
                            font-size: 20px
                            color: $darkblue
                    &:last-child
                        padding-bottom: 40px
                