[data-controller="backers"][data-namespace="projects"][data-action="new"]
  #page_content
    .container
      padding: 0px
      #project_review
        padding-top: 30px
        padding-bottom: 30px
        text-align: center
        .welcome-message-wrapper
          display: inline-block
          padding: 0 50px
          padding-bottom: 25px
          border-bottom: solid 2px $mediumgray
          .welcome-icon
            width: 44.7px
            vertical-align: sub
          .welcome-message
            font-family: 'Futura Std'
            font-weight: 200
            font-size: 27px
            color: $darkblue
            display: inline-block
            margin-left: 18px
            width: 564px
            text-align: center
            a
              font-family: 'Futura Std'
              font-weight: 700
              color: $carrot
        .project-info-wrapper
          display: table
          position: relative
          left: 50%
          margin-left: -390px
          padding: 50px 0px
          padding-bottom: 0px
          .project_info
            display: table-row
            .review-wrapper
              width: 300px
              display: table-cell
              vertical-align: middle
              background: url($images_lbm_path+"background_blue.png")
              #review_text
                .review_content 
                  font-family: 'Futura Std'
                  font-weight: 200
                  font-size: 22px
                  color: $oceanblue
                  strong
                    font-size: 18px
                    font-weight: bold
          #project_image
            display: table-cell
            margin-right: 20px
            height: 280px
            width: 460px
            padding-left: 30px
        .review-title
          text-align: center
          margin-top: 20px
          h1
            background: $oceanblue
            border-radius: 10px
            padding: 5px 20px
            color: white
            display: inline-block
            font-family: 'Futura LT'
            font-weight: 400
            font-size: 32px
            text-transform: uppercase
          h2
            color: $carrot
            font-size: 18px
            font-family: 'Futura LT'
            font-weight: 400
            display: block
            margin-top: 5px
        #credits_notice
          font-size: 16px
          strong
            font-weight: 700
            font-size: 20px
      #new_backer
        text-align: center
        padding: 20px 0px
        #value-container
          background: url($images_lbm_path+"background_blue.png")
          padding: 30px 0px
          .value-label
            font-family: 'Futura Std'
            font-weight: 200
            font-size: 22px
            color: $darkblue
          #value-wrapper
            margin-top: -15px
            .puzzle-icon
              width: 50px
              fill: $carrot
              transform: rotate(-30deg)
              position: relative
              left: -40px
            #money-simbol
              font-family: 'Futura Std'
              font-weight: 200
              font-size: 19px
              color: $darkgray
            #backer_value
              width: 235px
              background-color: white
              margin: 0 15px
            #value-hint
              font-family: 'Futura LT'
              font-weight: 400
              font-size: 12px
              color: $darkgray
              text-align: left
              vertical-align: middle
              width: 158px
              display: inline-block
      #rewards-title
        font-family: 'Futura Std'
        font-weight: 200
        font-size: 30px
        color: $darkblue
        margin-top: 30px
        margin-bottom: 10px
        text-align: center
      #rewards
        .reward
          &.disabled
            +opacity(0.6)
            cursor: default
      #backer-submit
        margin-top: 40px
        padding: 20px 50px
        &:disabled
          +opacity(0.5)
          cursor: default
        &:disabled:hover
          color: white
          background: $oceanblue

