#locales
  #locale-content
    font-family: "Futura Std"
    font-weight: 200
    font-size: 14px
    background-color: $carrot
    +border-bottom-left-radius(15px)
    +border-bottom-right-radius(15px)
    padding: 5px 9px
    display: inline-block
    color: white
    position: absolute
    top: 0px
    right: 74px
    height: 33px
    a
      text-decoration: none
      color: white
    .locale-world
      width: 17px
      height: 17px
      vertical-align: sub
    .locale-arrow
      width: 10px
      height: 10px
      vertical-align: initial
    li
      padding-left: 10px
      padding-right: 10px
      .locale-link
        padding-left: 5px
        padding-right: 5px
