#send-project-container
	padding-top: 20px
	text-align: center
	background: url($images_lbm_path+"background_blue.png")
	width: 100%
	padding-bottom: 30px
	.megaphone-icon
		width: 44px
		vertical-align: sub
	.plain-icon
		width: 50px
		vertical-align: sub
	.send-project-title
		font-family: 'Futura Std'
		font-weight: 200
		font-size: 30px
		color: $oceanblue
		display: inline
		margin: 0px 15px
	.send-project-points
		padding: 10px
		font-family: 'Futura Std'
		font-weight: 700
		font-size: 18px
		color: $darkblue
		margin-top: 20px
		.project-point
			display: table-cell
			width: 231px
			padding: 0px 10px
			border-right: solid 2px $mediumgray
			&:last-child
				border-right: none