- project = @notification.project
= t('notifications.owner_disbursment_documents.text_html', link_agreement_file: link_to(t('notifications.agreement_file'), project.agreement_file.url), link_disbursement_request_file: link_to(t('notifications.disbursement_request_file'), project.agreement_file.url))