<div style="height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
		
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_-3530907776467308058bodyTable" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
                <tbody><tr>
                    <td align="center" valign="top" id="m_-3530907776467308058bodyCell" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
                        
						
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-3530907776467308058templateContainer" style="border-collapse:collapse;border:0;max-width:600px!important">
                            <tbody><tr>
                                <td valign="top" id="m_-3530907776467308058templatePreheader" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-3530907776467308058mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-3530907776467308058mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-3530907776467308058mcnTextBlockInner" style="padding-top:9px">
              	
			
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-3530907776467308058mcnTextContentContainer">
                    <tbody><tr>

                        <td valign="top" class="m_-3530907776467308058mcnTextContent" style="padding:0px 18px 9px;color:#000000;word-break:break-word;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left">

                            <div style="text-align:center"><span style="font-size:18px"><strong>Proyecto Jóvenes Activos para la renovación del territorio y la construcción de Paz</strong></span></div>

                        </td>
                    </tr>
                </tbody></table>
				

				
            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
                            <tr>
                                <td valign="top" id="m_-3530907776467308058templateHeader" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-3530907776467308058mcnCaptionBlock" style="border-collapse:collapse">
    <tbody class="m_-3530907776467308058mcnCaptionBlockOuter">
        <tr>
            <td class="m_-3530907776467308058mcnCaptionBlockInner" valign="top" style="padding:9px">




<table border="0" cellpadding="0" cellspacing="0" class="m_-3530907776467308058mcnCaptionRightContentOuter" width="100%" style="border-collapse:collapse">
    <tbody><tr>
        <td valign="top" class="m_-3530907776467308058mcnCaptionRightContentInner" style="padding:0 9px">
            <table align="left" border="0" cellpadding="0" cellspacing="0" class="m_-3530907776467308058mcnCaptionRightImageContentContainer" width="264" style="border-collapse:collapse">
                <tbody><tr>
                    <td class="m_-3530907776467308058mcnCaptionRightImageContent" align="left" valign="top">



                        <img alt="" src="https://ci6.googleusercontent.com/proxy/r2SQnwDCxcnIIN1yH5PmZ7k5d8eKCBtktKQIOr3ZiPcvn0je89MubyQNUYNSrB9W1r70dx4DeYXx1oaLbAyJ98oDsJXlmElA_oFVlHpiRWbqHix_d9m-TzXEORRqwYyHaY528chmlIkviJtNIFImnyTUAsS7DIbEnRMfb-M=s0-d-e1-ft#https://gallery.mailchimp.com/4a1f5054d0cf6af4a40b5423e/images/4af859a6-6ee0-4723-93d1-6cb5b6f4ac7a.png" width="264" style="max-width:800px;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_-3530907776467308058mcnImage CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01;"><div id=":10o" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div>



                    </td>
                </tr>
            </tbody></table>
            <table class="m_-3530907776467308058mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="264" style="border-collapse:collapse">
                <tbody><tr>
                    <td valign="top" class="m_-3530907776467308058mcnTextContent" style="word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        <%="Si estás leyendo esta comunicación es porque en algún momento decidiste hacer visible la iniciativa de tu organización, a través del <span style=\"color:#000000\">“</span><a href=\"#{root_url(subdomain: @notification.iniciative.financial_channel.channel.permalink)}\" style=\"color:#2baadf;font-weight:normal;text-decoration:underline\" target=\"_blank\" data-saferedirecturl=\"https://www.google.com/url?hl=en&amp;q=#{root_url(subdomain: @notification.iniciative.financial_channel.channel.permalink)}&amp;source=gmail&amp;ust=1518082052296000&amp;usg=AFQjCNHJzAzEMxL63bMJu5okrh9G0lHQ7Q\">banco de iniciativas juveniles Tonces</a><span style=\"color:#000000\">”</span>, un espacio donde se pueden identificar y apoyar proyectos innovadores que constituyen verdaderas apuestas para la transformación social y la construcción de paz en el territorio.".html_safe %>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>




            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
                            <tr>
                                <td valign="top" id="m_-3530907776467308058templateBody" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-3530907776467308058mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-3530907776467308058mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-3530907776467308058mcnTextBlockInner" style="padding-top:9px">
              	
			
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-3530907776467308058mcnTextContentContainer">
                    <tbody><tr>

                        <td valign="top" class="m_-3530907776467308058mcnTextContent" style="padding:0px 18px 9px;font-style:normal;font-weight:normal;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">

                            Desde Jóvenes Activos, proyecto liderado por Fundación Capital, con el apoyo del Centro de Pensamiento para el Desarrollo del Gobierno de Canadá (IDRC), la Agencia para la Renovación del Territorio (ART) y la Fundación Citi; queremos felicitarte por hacer parte de este grupo de valientes soñadores; y además, alentarte a continuar fortaleciendo el trabajo colectivo que permite la reconstrucción del tejido social, la integración comunitaria y el fortalecimiento del capital social de las comunidades más afectadas por el conflicto armado en Colombia.<br>
<br>
Por ello, hoy te invitamos participar en el “<strong><em>Premio a las iniciativas juveniles que contribuyen a la construcción de Paz y el fortalecimiento del tejido social”. </em></strong><br>
<br>
<strong><em>¿Qué se busca con el premio?</em></strong><br>
Buscamos visibilizar y fortalecer a las organizaciones de jóvenes participantes en el Proyecto “Jóvenes Activos para la renovación del territorio”, a través de la premiación de sus iniciativas innovadoras, de tal forma que promuevan el bienestar social en sus comunidades mediante actividades de carácter social, ambiental, cultural, económico; y cuyo objetivo sea la promoción del liderazgo juvenil y el fortalecimiento del capital social a nivel comunitario<br>
&nbsp;<br>
<strong><em>¿Quiénes pueden participar?</em></strong><br>
Iniciativas colectivas lideradas por jóvenes ubicadas en Montes de María, Catatumbo y Norte del Cauca; organizaciones, formales e informales, que previamente se hayan registrado en la plataforma Tonces!, que hayan diligenciado el formulario completo del Índice de capacidad organizacional –ICO.<br>
&nbsp;<br>
<strong><em>¿Cuál es el premio?</em></strong><br>
Se premiaran 30 organizaciones, aquellas que resulten ganadoras recibirán como premio:
<ul>
	<li>Un estímulo económico que permita fortalecer la iniciativa con la cual se postularon. El monto de los incentivos estará entre <strong><em>$3.000.000</em></strong> (Tres millones de pesos) y hasta <strong><em>$5.000.000</em></strong> (Cinco millones de pesos).</li>
	<li>Las iniciativas ganadoras serán <strong><em>visibilizadas como casos de éxito</em></strong> en las plataformas Tonces y Little Big Money.</li>
	<li><strong><em>Acompañamiento </em></strong>para el fortalecimiento organizacional.</li>
</ul>

                        </td>
                    </tr>
                </tbody></table>
				

				
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-3530907776467308058mcnImageCardBlock" style="border-collapse:collapse">
    <tbody class="m_-3530907776467308058mcnImageCardBlockOuter">
        <tr>
            <td class="m_-3530907776467308058mcnImageCardBlockInner" valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px">



<table align="left" border="0" cellpadding="0" cellspacing="0" class="m_-3530907776467308058mcnImageCardTopContent" width="100%" style="border-collapse:collapse">
    <tbody><tr>
        <td class="m_-3530907776467308058mcnTextContent" valign="top" style="padding:18px 18px 0px;color:#1c6db9;font-family:Helvetica;font-size:14px;font-weight:normal;text-align:center;word-break:break-word;line-height:150%" width="546">
            <span style="font-size:24px"><strong><em>¿Cuáles son las categorías para concursar? </em></strong></span>
        </td>
    </tr>
    <tr>
        <td class="m_-3530907776467308058mcnImageCardTopImageContent" align="center" valign="top" style="padding-top:9px;padding-right:0px;padding-bottom:0px;padding-left:0px">



            <img alt="" src="https://ci6.googleusercontent.com/proxy/TZZvOc0kf2_cJqIhR6sOxJS7SrwF1yVEklyRek3HZUyUHzcXB52ljoOUng2QyL6HMTii5UZEYBSQoeCgyf1AhXhurluO_now4SN5GPT36tkMGUE5EChS9mUCDuxxyu2fDnPZxQIbaoH88SHrLR04R5YaPTTTQmra6NKTtVs=s0-d-e1-ft#https://gallery.mailchimp.com/4a1f5054d0cf6af4a40b5423e/images/83ca7f1a-3719-4254-9153-2e2fb8f50a09.png" width="564" style="max-width:1186px;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_-3530907776467308058mcnImage CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 773px; top: 1309.52px;"><div id=":zr" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div>



        </td>
    </tr>
</tbody></table>


            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-3530907776467308058mcnImageCardBlock" style="border-collapse:collapse">
    <tbody class="m_-3530907776467308058mcnImageCardBlockOuter">
        <tr>
            <td class="m_-3530907776467308058mcnImageCardBlockInner" valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px">



<table align="right" border="0" cellpadding="0" cellspacing="0" class="m_-3530907776467308058mcnImageCardTopContent" width="100%" style="border-collapse:collapse">
    <tbody><tr>
        <td class="m_-3530907776467308058mcnTextContent" valign="top" style="padding:18px 18px 0px;color:#1c6db9;font-family:Helvetica;font-size:14px;font-weight:normal;text-align:center;word-break:break-word;line-height:150%" width="546">
            <span style="font-size:24px"><strong><em>Fases de la convocatoria al permio de iniciativas</em></strong></span>
        </td>
    </tr>
    <tr>
        <td class="m_-3530907776467308058mcnImageCardTopImageContent" align="center" valign="top" style="padding-top:9px;padding-right:0px;padding-bottom:0px;padding-left:0px">



            <img alt="" src="https://ci6.googleusercontent.com/proxy/OLklM2vmQ6THBO4_E2DSZVbzziSG39W5q62J6cb9smqfHExFAjuui4HYqyH1sdMzg8JR-FiBW1FzvN7GwXqi3-hHLbigns_yvoGNps_i2GJGfpRJmdEBXdseIOXM4sUZzJ--dRvd6pUC8VlO7LaR2If7Towik2BE35lSpOg=s0-d-e1-ft#https://gallery.mailchimp.com/4a1f5054d0cf6af4a40b5423e/images/c83358eb-137b-4846-96d6-66dc42a2fb47.png" width="564" style="max-width:966px;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_-3530907776467308058mcnImage CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 773px; top: 1547.86px;"><div id=":zq" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div>



        </td>
    </tr>
</tbody></table>


            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-3530907776467308058mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-3530907776467308058mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-3530907776467308058mcnTextBlockInner" style="padding-top:9px">
              	
			
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-3530907776467308058mcnTextContentContainer">
                    <tbody><tr>

                        <td valign="top" class="m_-3530907776467308058mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">

                            <div style="text-align:left"><strong><em>Fechas claves: </em></strong><br>
<strong>Postulación de iniciativas</strong>: Del 8 al 19 de febrero de 2018<br>
<strong>Pre-selección de organizaciones al CLE: </strong>23 febrero de marzo de 2018<br>
<strong>Comités Locales de Evaluación –CLE: </strong>20 de marzo<br>
<strong>Visitas de reconocimiento: </strong>24 al 26 de marzo de 2018 y 2 al 5 de abril<br>
<strong>Resultados finales: organizaciones ganadoras: </strong>12 de abril de 2018<br>
&nbsp;<br>
Si a tu organización le interesa participar, pueden ampliar la información&nbsp;consultando los&nbsp;<a href="https://drive.google.com/open?id=1s6j3IzMfRociPu-qUqNpgNL1O8L-ilVy" style="color:#2baadf;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://drive.google.com/open?id=1s6j3IzMfRociPu-qUqNpgNL1O8L-ilVy&amp;source=gmail&amp;ust=1518126629612000&amp;usg=AFQjCNE2tXXT1cdw4HFLui9b7wLz0Lj01g">Términos de Referencia</a>.<br>
<br>
Si lo deseas envía tu proyecto a través del siguiente botón</div>

                        </td>
                    </tr>
                </tbody></table>
				

				
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-3530907776467308058mcnButtonBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-3530907776467308058mcnButtonBlockOuter">
        <tr>
            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center" class="m_-3530907776467308058mcnButtonBlockInner">
                <table border="0" cellpadding="0" cellspacing="0" class="m_-3530907776467308058mcnButtonContentContainer" style="border-collapse:separate!important;border-radius:5px;background-color:#2baadf">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" class="m_-3530907776467308058mcnButtonContent" style="font-family:Arial;font-size:16px;padding:15px">
                                <%= "<a class=\"m_-6781611355025509337mcnButton\" title=\"Formulario de postulación\" href=\"#{financial_new_channels_projects_url(subdomain: @notification.iniciative.financial_channel.channel.permalink, 'contact_email': @notification.iniciative.contact_email, 'iniciative_token': @notification.iniciative.find_token_by_name(:postulation).to_s)}\" style=\"font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;display:block\" target=\"_blank\" data-saferedirecturl=\"https://www.google.com/url?hl=en&amp;q=#{new_user_registration_url(subdomain: @notification.iniciative.financial_channel.channel.permalink, 'user[email]': @notification.iniciative.contact_email, 'user[name]': @notification.iniciative.contact_name)}\">Formulario de postulación</a>".html_safe %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
                            <tr>
                                <td valign="top" id="m_-3530907776467308058templateFooter" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-3530907776467308058mcnDividerBlock" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
    <tbody class="m_-3530907776467308058mcnDividerBlockOuter">
        <tr>
            <td class="m_-3530907776467308058mcnDividerBlockInner" style="min-width:100%;padding:10px 18px 25px">
                <table class="m_-3530907776467308058mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #eeeeee;border-collapse:collapse">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-3530907776467308058mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-3530907776467308058mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-3530907776467308058mcnTextBlockInner" style="padding-top:9px">
              	
			
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-3530907776467308058mcnTextContentContainer">
                    <tbody><tr>

                        <td valign="top" class="m_-3530907776467308058mcnTextContent" style="padding:0px 18px 9px;text-align:center;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%">

                            <a href="https://us7.campaign-archive.com/?e=&amp;u=4a1f5054d0cf6af4a40b5423e&amp;id=894a9291b6" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://us7.campaign-archive.com/?e%3D%26u%3D4a1f5054d0cf6af4a40b5423e%26id%3D894a9291b6&amp;source=gmail&amp;ust=1518126629613000&amp;usg=AFQjCNGU-9cU1LcnBhWXdRcro0TGk4ESbg">Ver este email en su navegador</a>
                        </td>
                    </tr>
                </tbody></table>
				

				
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-3530907776467308058mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-3530907776467308058mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-3530907776467308058mcnTextBlockInner" style="padding-top:9px">
              	
			
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-3530907776467308058mcnTextContentContainer">
                    <tbody><tr>

                        <td valign="top" class="m_-3530907776467308058mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">

                            <img height="150" src="https://ci5.googleusercontent.com/proxy/aq9_wbKUfEcblQcM2L3pQZOLwv8SpoM50d3Y9FnjSNd_GzecCAbal4yS7fOVD5Eo2iEHN8MDjXdFWxuzf3ZvIXk9bk9SqDDl7K-x6TOfYWktue-FIn3rq8M759_IcVmbXyNCRe1kfNSYYEBldZN76Stspduok9j6JP4VTeA=s0-d-e1-ft#https://gallery.mailchimp.com/4a1f5054d0cf6af4a40b5423e/images/dd2a2ba8-f55c-4e96-b844-01b124ad615c.png" style="border:0px;width:800px;height:150px;margin:0px;outline:none;text-decoration:none" width="800" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 891px; top: 2179px;"><div id=":zp" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div>
                        </td>
                    </tr>
                </tbody></table>
				

				
            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
                        </tbody></table>
						
                        
                    </td>
                </tr>
            </tbody></table>
        </center>
                <center>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-3530907776467308058canspamBarWrapper" style="background-color:#ffffff;border-top:1px solid #e5e5e5">
                    <tbody><tr>
                        <td align="center" valign="top" style="padding-top:20px;padding-bottom:20px">
                            <table border="0" cellpadding="0" cellspacing="0" id="m_-3530907776467308058canspamBar">
                                <tbody><tr>
                                    <td align="center" valign="top" style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:11px;line-height:150%;padding-right:20px;padding-bottom:5px;padding-left:20px;text-align:center">
                                        This email was sent to <a href="mailto:valderramago@gmail.com" style="color:#404040!important" target="_blank">valderramago@gmail.com</a>
                                        <br>
                                        <a href="https://littlebigmoney.us7.list-manage.com/about?u=4a1f5054d0cf6af4a40b5423e&amp;id=8218d8b2ec&amp;e=&amp;c=894a9291b6" style="color:#404040!important" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://littlebigmoney.us7.list-manage.com/about?u%3D4a1f5054d0cf6af4a40b5423e%26id%3D8218d8b2ec%26e%3D%26c%3D894a9291b6&amp;source=gmail&amp;ust=1518126629613000&amp;usg=AFQjCNH6hIdzOiJbzWe0LEqRlv2hkyZomQ"><em>why did I get this?</em></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://littlebigmoney.us7.list-manage.com/unsubscribe?u=4a1f5054d0cf6af4a40b5423e&amp;id=8218d8b2ec&amp;e=&amp;c=894a9291b6" style="color:#404040!important" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://littlebigmoney.us7.list-manage.com/unsubscribe?u%3D4a1f5054d0cf6af4a40b5423e%26id%3D8218d8b2ec%26e%3D%26c%3D894a9291b6&amp;source=gmail&amp;ust=1518126629613000&amp;usg=AFQjCNGZAkncj4rFUqSC3fCg9mpttgjvlw">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://littlebigmoney.us7.list-manage.com/profile?u=4a1f5054d0cf6af4a40b5423e&amp;id=8218d8b2ec&amp;e=" style="color:#404040!important" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://littlebigmoney.us7.list-manage.com/profile?u%3D4a1f5054d0cf6af4a40b5423e%26id%3D8218d8b2ec%26e%3D&amp;source=gmail&amp;ust=1518126629613000&amp;usg=AFQjCNEELlSLhllEiLs2egS9EWSmjTlg6w">update subscription preferences</a>
                                        <br>
                                        Fundación Capital · <a href="https://maps.google.com/?q=Cra+46+No.+102+-+42+%C2%B7+Bogota+?+%C2%B7+Colombia&amp;entry=gmail&amp;source=g">Cra 46 No. 102 - 42 </a>· <a href="https://maps.google.com/?q=Cra+46+No.+102+-+42+%C2%B7+Bogota+?+%C2%B7+Colombia&amp;entry=gmail&amp;source=g">Bogota ? </a>· <a href="https://maps.google.com/?q=Cra+46+No.+102+-+42+%C2%B7+Bogota+?+%C2%B7+Colombia&amp;entry=gmail&amp;source=g">Colombia</a>
                                        <br>
                                        <br>
                                        <a href="http://www.mailchimp.com/monkey-rewards/?utm_source=freemium_newsletter&amp;utm_medium=email&amp;utm_campaign=monkey_rewards&amp;aid=4a1f5054d0cf6af4a40b5423e&amp;afl=1" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.mailchimp.com/monkey-rewards/?utm_source%3Dfreemium_newsletter%26utm_medium%3Demail%26utm_campaign%3Dmonkey_rewards%26aid%3D4a1f5054d0cf6af4a40b5423e%26afl%3D1&amp;source=gmail&amp;ust=1518126629613000&amp;usg=AFQjCNFgjjm4KoFs_p5xzfac66am797bxw"><img src="https://ci3.googleusercontent.com/proxy/EWG2_aArcaOvssP3SFslYqzhOMUDfVY2IAhF8d8mCeeYx7KamZhmNANawB-2bB7YU189SBT2-ICi565CiWZ0NhEH8cRyTB1qfYAiE04jiVKKfBe6hR-L-cFhYc4=s0-d-e1-ft#https://cdn-images.mailchimp.com/monkey_rewards/MC_MonkeyReward_15.png" border="0" alt="Email Marketing Powered by MailChimp" title="MailChimp Email Marketing" width="139" height="54" class="CToWUd"></a>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
                
            </center></div>