- project = @notification.project
= t('notifications.project_visible.text_html', name: project.user.display_name, project_name: project.name, project_days: project.online_days, expires_at: project.display_expires_at, link: link_to(project.name, project_by_slug_url(project.permalink)), support: link_to(t("contact_and_support"), tools_url(anchor: :tools)))
= render "email_footer"